/* SASS Rules go here*/
body {
  width: 100%;
}

.wrapper {
  border: solid #00D1AE 5px;
  margin: 100px auto 0;
  width:  40%;
}

.card-container {
  background: #00D1AE;
  height:     280px;
  margin:     20px auto;
  width:      90%;
}
