
 .box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #3838FF;
}

.box:hover {
    background-color: #00D1AE;
    width: 200px;
    height: 200px;
    /*transition-property: width, height, background-color;
    transition-duration: 5s;
    transition-timing-function:linear;
    transition-delay: 5s;*/

    transition: height 2s linear 1s, width 2s linear 1s;
}

p {
  max-width: 700px;
  font-family: Arial;
}


.container {
  animation-name: slidein;
  animation-duration: 3s;
}
.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #00D1AE;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #00D1AE;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #00D1AE;
}

@keyframes slidein {
  0% {
    background-color: blue;
    margin-left: 100%;
    width: 10%;
  }

  50%{
    background-color: yellow;
  }

  100% {
    margin-left: 0%;
    width: 90%;
  }
}

.container {
  margin: 20px 0 0 20px;
  display: inline-block;
  animation-name: slidein;
  animation-duration: 3s;
}

.container2{
  width: 500px;
  height: 200px;
  background-color: grey;
}



.circle {
  background: #456789;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  float: left;
  animation: bounce 2s infinite; /*name of keyframes, duration, repetition times */
}
.square {
  background: #456789;
  height: 30px;
  width: 30px;
  margin: 10px;
  float: left;
  animation: square 3s;
  transition-delay: 5s;
}
.triangle {
  margin: 10px;
  float: left;
  border-style: solid;
  border-color: transparent transparent #456789 transparent;
  border-width: 0 20px 30px 20px;
  animation: zigzag 5s infinite;
}

@keyframes bounce {
  0%, 100%{
    position: relative;
    top: 0;
  }

  50%{
    top: 200px;
  }
}

@keyframes square {
  0%{
    position: relative;
    left: 0;
    /*border-width: 20px;
    border-style: solid;*/
    border-color: red;
  }
  50%{
    /*border-width: 20px;
    border-style: solid;  */
    border-color: yellow;
  }
  100%{
    left: 1000px;
  }

}

@keyframes zigzag {
  /*0%, 100%{
    transform: translatex(0px) translatey(0px)
  }
  17%,85%{
    transform: translateX(100px) translateY(100px);
  }
  34%,68%{
    transform: translateX(-100px) translateY(-100px);
  }
  51%{
    transform: translateX(300px) translateY(300px);
  }*/

  0%{
    color: blue;
  }
  25%{
    margin-top: 15%;
    margin-left: 30%;
  }
  50%{
    margin-top: 30%;
    margin-left: 0%;
  }
  75%{
    margin-top: 15%;
    margin-left: 30%;
  }
  100%{
    margin-top: 0%;
    margin-left: 0%;
  }
}



/*
@keyframes c1 {
  0%{
    margin-top: 10px;
  }
  50%{
    margin-top: 20px;
  }
  100%{
    margin-top: 60px;
  }
}

@keyframes s1 {
  0%   {background-color: red; margin-top: 25%;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


@keyframes t1 {
    from {background-color: red;}
    to {background-color: yellow;}
}*/


/*RESPONSIVE */

.responsive-div {
  background-color: red;
  height: 100px;
  width: 100px;
}

@media (min-width: 1000px) {
  .responsive-div {
    background-color: blue;
  }
}
